.background-black {
    background-color: black;
  }
  
  .background-white {
    background-color: white;
  }

  .faucet-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    height: 100vh;
  }
  

  
  
  
  
  
  